<ion-content padding>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-card padding >

      <img class="icon" src="../assets/permission.png">
      <br>

      

      <ion-item>
          <ion-label position="floating"> Correo Electronico</ion-label>
          <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating"> Contraseña </ion-label>
          <ion-input [(ngModel)]="password" type="password" name="password"></ion-input>
      </ion-item>
     
      <ion-button (click)="OnSubmitLogin()" padding expand="block"> Entrar </ion-button>


      
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" expand=full>
      <ion-label class="otherText2"><h5>powered by Evilsmoon</h5></ion-label>
  </ion-fab>


</ion-content>